@charset "UTF-8";
/**Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**Обнуление стилей*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.wrapper {
  max-width: 1920px;
  background: #100c01 url("../images/main_bg.png") center center/cover no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  background-color: #1d1d1d1a;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title-logo {
  width: 45px;
  height: 45px;
  margin: 0px 20px 0px 0px;
}

.header__title-text {
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #e40801;
}

.slider__radio {
  width: 100%;
}

.slider__radio-text {
  font-weight: 500;
  font-size: 85px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fcfcfc;
  max-width: 370px;
}

.slider__img {
  width: 315px;
  margin-bottom: -30px;
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e40801;
  padding: 30px 100px;
  max-width: 980px;
  margin: 140px auto 100px auto;
}

.links__body-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__body-list > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  background: #e40801;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px 50px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fefdfd;
}

.list__img {
  width: 65px;
}

.history {
  padding: 200px 0px 100px 0px;
}

.history__title {
  display: inline-block;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 50px 0px;
}

/*Стили блока History*/
.my_lastsongs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_songdivs {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  background-color: #e40801d1;
  padding: 20px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
}

.history__singl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.history__singl-img {
  width: 100px;
  border-radius: 5px;
  margin: 0px 20px 0px 0px;
}

.history__time {
  display: block;
  font-size: 20px;
  color: #fff;
}

.history__singl-link {
  display: block;
  font-size: 23px;
  line-height: 1.1;
  color: #fff;
}

.history__singl-link:hover {
  text-decoration: underline;
}

/* Конец Стили блока History*/
/*Стили блока Player*/
.my_player_adaptive {
  background-color: #222520 !important;
  height: 70px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_player_adaptive .my_player_body {
  max-width: 1240px !important;
}

.my_player_adaptive .my_share,
.my_player_adaptive .my_volumeplayer,
.my_player_adaptive .my_play {
  background-color: #fff !important;
}

.my_player_adaptive .my_artist {
  color: #fff !important;
}

.my_player_adaptive .my_songtitle {
  color: #e40801;
}

/* Конец Стили блока Player*/
.footer {
  background-color: #222520;
  padding: 25px 0px 60px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fefdfd;
  margin: 0px 0px 15px 0px;
}

.footer__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fefdfd;
  margin: 0px 0px 10px 0px;
}

.footer__item-link:hover {
  text-decoration: underline;
}

.copyright {
  background-color: #100c01;
  padding: 20px 0px;
  text-align: center;
  margin: 0px 0px 43px 0px;
}

.copyright__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .slider__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__radio-text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .links__body-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links__body-list > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 80%;
    margin: 0px 0px 20px 0px;
  }
  .history {
    padding: 100px 0px;
  }
  .my_songdivs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 576px) {
  .header__title-text {
    font-size: 30px;
  }
  .slider__body {
    margin: 40px auto 100px auto;
  }
  .slider__radio-text {
    font-size: 50px;
    line-height: 1.5;
  }
  .slider__img {
    width: 220px;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    padding: 25px 0px 0px 0px;
  }
  .footer__item {
    margin: 0px 0px 20px 0px;
  }
  .links__body-list > li {
    width: 100%;
    padding: 10px;
  }
  .list__img {
    width: 50px;
  }
  .list__link {
    font-size: 20px;
  }
  .history {
    padding: 50px 0;
  }
  .history__title {
    font-size: 32px;
  }
  .history__singl-img {
    width: 60px;
  }
  .history__singl-link {
    font-size: 16px;
  }
}
